In [8]:
jdbcDF = spark.read \
    .format("jdbc") \
    .option("driver", "com.facebook.presto.jdbc.PrestoDriver") \
    .option("url", "jdbc:presto://presto:8080/hive/aula") \
    .option("user", "hive") \
    .option("dbtable", "hue__tmp_people") \
    .load()

In [12]:
jdbcDF.show()

+---------+---------+--------------------+---------+--------+--------+------------------+-----------------+------------+
|person_id|     name|               first|     last|  middle|   email|             phone|              fax|       title|
+---------+---------+--------------------+---------+--------+--------+------------------+-----------------+------------+
|     null|     name|               first|     last|  middle|   email|             phone|              fax|       title|
|     3130|   "Burks|           Rosella "|  Rosella|   Burks|        |   BurksR@univ.edu|     963.555.1253|963.777.4065|
|     3297|   "Avila|            Damien "|   Damien|   Avila|        |   AvilaD@univ.edu|     963.555.1352|963.777.7914|
|     3547|   "Olsen|             Robin "|    Robin|   Olsen|        |   OlsenR@univ.edu|     963.555.1378|963.777.9262|
|     1538|  "Moises|        Edgar Estes"|    Edgar|  Moises|   Estes|  MoisesE@univ.edu|963.555.2731x3565|963.777.8264|
|     2941|   "Brian|       Heath Pruitt"|    Heath|   Brian|  Pruitt|   BrianH@univ.edu|     963.555.2800|963.777.7249|
|     2401|  "Claude|        Elvin Haney"|    Elvin|  Claude|   Haney|  ClaudeE@univ.edu|     963.555.2902|963.777.9730|
|     2070|  "Mosley|            Edmund "|   Edmund|  Mosley|        |  MosleyE@univ.edu|     963.555.2945|963.777.9285|
|     2561|   "Derek|      Antoine Mccoy"|  Antoine|   Derek|   Mccoy|   DerekA@univ.edu|     963.555.2992|963.777.5454|
|     1625| "Hawkins|            Callie "|   Callie| Hawkins|        | HawkinsC@univ.edu|963.555.3350x6480|963.777.4949|
|     1307|    "Pate|            Andrea "|   Andrea|    Pate|        |    PateA@univ.edu|     963.555.3723|963.777.5049|
|     2342|  "Austin|               Liz "|      Liz|  Austin|        |  AustinL@univ.edu|     963.555.4305|963.777.6143|
|     2755|"Kendrick|        Reba Alford"|     Reba|Kendrick|  Alford|KendrickR@univ.edu|963.555.4618x7744|963.777.4371|
|     4150|    "Sims|          Angelina "| Angelina|    Sims|        |    SimsA@univ.edu|     963.555.5278|963.777.4400|
|     3544| "Mullins|          Kimberly "| Kimberly| Mullins|        | MullinsK@univ.edu|963.555.5471x1017|963.777.9783|
|     2096|   "Chuck|        Lloyd Haney"|    Lloyd|   Chuck|   Haney|   ChuckL@univ.edu|963.555.5568x2652|963.777.9290|
|     1089|   "Payne|           Ladonna "|  Ladonna|   Payne|        |   PayneL@univ.edu|     963.555.5639|963.777.6469|
|     2948|  "Baxter| Johnathan Browning"|Johnathan|  Baxter|Browning|  BaxterJ@univ.edu|     963.555.5902|963.777.8336|
|     4539|   "Weiss|           Gilbert "|  Gilbert|   Weiss|        |   WeissG@univ.edu|     963.555.5969|963.777.4975|
|     2811| "Deirdre|   Florence Barrera"| Florence| Deirdre| Barrera| DeirdreF@univ.edu|     963.555.6319|963.777.9654|
+---------+---------+--------------------+---------+--------+--------+------------------+-----------------+------------+
only showing top 20 rows

In [10]:
df_pandas = jdbcDF.toPandas()

In [11]:
df_pandas.head()

,person_id,name,first,last,middle,email,phone,fax,title
0,NaN,name,first,last,middle,email,phone,fax,title
1,3130.0,"""Burks","Rosella """,Rosella,Burks,,BurksR@univ.edu,963.555.1253,963.777.4065
2,3297.0,"""Avila","Damien """,Damien,Avila,,AvilaD@univ.edu,963.555.1352,963.777.7914
3,3547.0,"""Olsen","Robin """,Robin,Olsen,,OlsenR@univ.edu,963.555.1378,963.777.9262
4,1538.0,"""Moises","Edgar Estes""",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264

In [14]:
dataframe_mysql = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://database/employees") \
    .option("driver", "com.mysql.jdbc.Driver") \
    .option("dbtable", "employees") \
    .option("user", "root") \
    .option("password", "secret") \
    .load()

In [16]:
dataframe_mysql.show()

300024

In [18]:
dataframe_mysql.write.parquet("mysql")

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:39165)
Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:39165)
Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:39165)

In [7]:
df = spark.read.parquet("mysql")

In [8]:
df.show()

+------+----------+----------+-----------+------+----------+
|emp_no|birth_date|first_name|  last_name|gender| hire_date|
+------+----------+----------+-----------+------+----------+
| 10001|1953-09-02|    Georgi|    Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|     Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|    Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|    Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi|   Maliniak|     M|1989-09-12|
| 10006|1953-04-20|    Anneke|    Preusig|     F|1989-06-02|
| 10007|1957-05-23|   Tzvetan|  Zielinski|     F|1989-02-10|
| 10008|1958-02-19|    Saniya|   Kalloufi|     M|1994-09-15|
| 10009|1952-04-19|    Sumant|       Peac|     F|1985-02-18|
| 10010|1963-06-01| Duangkaew|   Piveteau|     F|1989-08-24|
| 10011|1953-11-07|      Mary|      Sluis|     F|1990-01-22|
| 10012|1960-10-04|  Patricio|  Bridgland|     M|1992-12-18|
| 10013|1963-06-07| Eberhardt|     Terkki|     M|1985-10-20|
| 10014|1956-02-12|     Berni|      Genin|     M|1987-03-11|
| 10015|1959-08-19|  Guoxiang|  Nooteboom|     M|1987-07-02|
| 10016|1961-05-02|  Kazuhito|Cappelletti|     M|1995-01-27|
| 10017|1958-07-06| Cristinel|  Bouloucos|     F|1993-08-03|
| 10018|1954-06-19|  Kazuhide|       Peha|     F|1987-04-03|
| 10019|1953-01-23|   Lillian|    Haddadi|     M|1999-04-30|
| 10020|1952-12-24|    Mayuko|    Warwick|     M|1991-01-26|
+------+----------+----------+-----------+------+----------+
only showing top 20 rows